<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Achievements</h4>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Achievement Info</h5>
                        <div class="alert alert-info">
                            <span>Attendance <b>Web Engineering</b> Lecture </span>
                        </div>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span>Received Some Point </span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <i data-notify="icon" class="material-icons">add_alert</i>
                            <span data-notify="message">Developed Projects: HSHLGami</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <i data-notify="icon" class="material-icons">add_alert</i>
                            <span data-notify="message">No Done Internships.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Achievement States</h5>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Info - </b> You attended 1 Course. ".alert-success"</span>
                        </div>
                        <div class="alert alert-success">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Success - </b> You received some point. ".alert-success"</span>
                        </div>
                        <div class="alert alert-warning">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Success - </b> You completed 1 Project. ".alert-success"</span>
                        </div>
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Danger - </b> You did not complete your internship. ".alert-danger"</span>
                        </div>
                     
                    </div>
                </div>

                <br>
                <br>

                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h5>Add New Achievement
                                <p class="category">Click to view achievements</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" onclick="demo.showNotification('top','left')"> New Course</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" onclick="demo.showNotification('top','center')"> New Point</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" onclick="demo.showNotification('top','right')">New Project</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" onclick="demo.showNotification('bottom','left')">New Awards</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" onclick="demo.showNotification('bottom','center')">INT-Internship</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" onclick="demo.showNotification('bottom','right')">N- Internship</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
