
<form class="form-style-9">
            <link href='stylesheets/challenge.css' rel='stylesheet' type='text/css'>

<ul>
<li>
    <input type="text" name="field1" class="field-style field-split align-left" placeholder="Challenge Type" />
    <input type="email" name="field2" class="field-style field-split align-right" placeholder="Title" />

</li>
<li>
    <input type="text" name="field3" class="field-style field-split align-left" placeholder="Summary" />
    <input type="url" name="field4" class="field-style field-split align-right" placeholder="Reference" />
</li>
<li>
<input type="text" name="field3" class="field-style field-full align-none" placeholder="Area" />
</li>
<li>
<textarea name="field5" class="field-style" placeholder="Additional Information"></textarea>
</li>
<li>
<input type="submit" value="Send Message" />
</li>
</ul>
</form>