<!DOCTYPE html>
<div class="wrap">
<div class="table">
<ul>
  
<li>
  <div class="top">
              <link href='stylesheets/profile.css' rel='stylesheet' type='text/css'>

    <h1>Achievements</h1>
    <div class="circle">%15</div>
  </div>
  <div class="bottom">
    <p><span>Done</span> Internships</p>
    <p><span>Received</span> Awards</p>
    <p><span>Developed</span> Projects</p>
    <p><span>Attendance</span> Lecture</p>
    <p><span>Received</span> Grades</p>

    <div class="sign">
    <a href="/achievements" class='button'>Enter Your Data</a>
    </div>
  </div>
</li>
  
<li>
  <div class="top">
    <h1>Challenges</h1>
    <div class="circle">%27</div>
  </div>
    <div class="bottom">
    <p><span></span> Seminars</p>
    <p><span></span> Summer Schools</p>
    <p><span></span> Language Exams</p>
    <div class="sign">
    <a href="/challenge" class='button'>Enter Your Data</a>
    </div>
  </div>
</li>
  
<li>
  <div class="top purple white">
    <h1>Uni-Clubs</h1>
    <div class="circle pink">%75</div>
  </div>
    <div class="bottom">
    <p><span>Friendship</span></p>
    <p><span>Attended Organizations</span> amount of space</p>
    <div class="sign">
    <a href="/clubs" class="button purple" style="color:white;">Enter Your Data</a>
    </div>
  </div>
</li>
  
<li>
  <div class="top">
    <h1>Library</h1>
    <div class="circle">%11</div>
  </div>
    <div class="bottom">
    <p><span>Books</span> users</p>
    <p><span>Dictionaries</span> projects</p>
    <p><span>Watched Academic CDs/DVDs</span> amount of space</p>
    <div class="sign">
    <a href="/library" class='button'>Enter Your Data</a>
    </div>
  </div>
</li>
  
</ul>
</div>
</div>