<div class="jumbotron text-center">
  <h1>Welcome to HSHLGami Application</h1>
  <p class="lead"> Welcome to our gamification application created by HSHLDevelopers (Oguzhan O. Buyuk, Ognjen Milovanovic).</p>
    <div>
    <a class="btn btn-primary" [routerLink] ="['/register']">Register</a> 
    <a class="btn btn-default" [routerLink] ="['/login']">Login</a>
    </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Angular 4</h3>
    <p>Angular 4 to generate components, services and more.</p>
  </div>
  <div class="col-md-3">
    <h3>ExpressJS Backend</h3>
    <p>A very nice Node.js/Express server using Mongose to organize models and query the database.</p>
  </div>
   <div class="col-md-2">
    <h3>MongoDB</h3>
    <p>Powerful Database.</p>
  </div>
   <div class="col-md-2">
    <h3>JWT Token</h3>
    <p>Full featured authentication using JSON web okens. Login and store user data.</p>
  </div>
