<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Achievement Leaderships</h4>
                        <p class="category">Here is a list for students</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>EMail</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Oguzhan</td>
                                    <td>Buyuk</td>
                                    <td>oguzhanbuyuk@stud.hshl.de</td>
                                    <td class="text-danger">7</td>
                                </tr>
                                <tr>
                                    <td>Ognjen</td>
                                    <td>Milovanovic</td>
                                    <td>ognjenmil@stud.hshl.de</td>
                                    <td class="text-danger">11</td>
                                </tr>
                                <tr>
                                    <td>John </td>
                                    <td>Happy</td>
                                    <td>johnhappy@stud.hshl.de</td>
                                    <td class="text-danger">15</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

         
        </div>
    </div>
</div>
